
@{
    ViewBag.Title = "Helpers";
}

<h2>Helpers</h2>

@My_Helpers.MakeNote("My test note content.")

@My_Helpers.Color("Cambio de color gracias a un helper")

@My_Helpers.Tamaño("Cambio de tamaño gracias a un helper")

@My_Helpers.Caja("")

@My_Helpers.Click("")
